<form method="POST" action="/" enctype="application/x-www-form-urlencoded">

  <div class="field<%= locals.isInvalid('name', errors) ? ' field--invalid' : '' %>">
    <label for="name" class="field__label">Nafn*</label>
    <input type="text" name="name" id="name" value="<%= formData.name %>" class="field__input">
  </div>

  <div class="field<%= locals.isInvalid('nationalId', errors) ? ' field--invalid' : '' %>">
    <label for="nationalId" class="field__label">Kennitala*</label>
    <input type="text" name="nationalId" id="nationalId" value="<%= formData.nationalId %>" class="field__input">
  </div>

  <div class="field<%= locals.isInvalid('comment', errors) ? ' field--invalid' : '' %>">
    <label for="comment" class="field__label">Athugasemd:</label>
    <textarea name="comment" id="comment" class="field__textarea"><%= formData.comment %></textarea>
  </div>

  <div class="field--checkbox<%= locals.isInvalid('anonymous', errors) ? ' field--invalid' : '' %> ">
    <% if (formData.anonymous) { %>
      <input type="checkbox" name="anonymous" id="anonymous" class="field--checkbox__input" checked>
    <% } else { %>
      <input type="checkbox" name="anonymous" id="anonymous" class="field--checkbox__input">
    <% } %>
    <label for="anonymous" class="field--checkbox__label">Ekki birta nafn á lista</label>
  </div>

  <% if (errors.length > 0) { %>
    <h2 class="errors__title">Villur við undirskrift:</h2>
    <ul class="errors">
      <% errors.forEach((error) => { %>
        <li class="error"><label for="<%= error.param %>"><%= error.msg %></label></li>
      <% }); %>
    </ul>
  <% } %>

  <div class="buttoncontainer">
    <button class="buttoncontainer__button">Skrifa undir</button>
  </div>

</form>
