<section class="signatures">

  <h2 class="table__title">Undirskriftir</h2>

  <% if (list.length === 0) { %>
    <p class="table__subtitle">Engar undirskriftir.</p>
  <% } else { %>
    <p class="table__subtitle">Fjöldi undirskrifta: <%= signaturesCount %> </p>

    <table class="table">
      <tr class="table__row">
        <th class="table__header">Dags</th>
        <th class="table__header">Nafn</th>
        <th class="table__header">Athugasemd</th>
        <% if (locals.user) { %>
          <th class="table__header">Eyða</th>
        <% } %>
      </tr>
      <% list.forEach((signature) => { %>
        <tr class="table__row">
          <td class="table__column"><%= locals.setDate(signature.signed.toISOString()) %></td>
          <td class="table__column">
            <% if (signature.anonymous) { %>
              Nafnlaus
            <% } else { %>
              <%= signature.name %>
            <% } %>
          </td>
          <td class="table__column"><%= signature.comment %></td>
          <% if (locals.user) { %>
            <form method="POST" action="/admin/delete/<%= signature.id %>">
              <td class="table__column">
                <div class="tablebuttoncontainer">
                  <button class="tablebuttoncontainer__button">Eyða</button>
                </div>
              </td>
            </form>
          <% } %>
        </tr>
      <% }); %>
    </table>
  <% } %>

  <div class="paging">
    <p class="paging__prev">
      <% if (result.links.prev) { %>
        <a href="<%= result.links.prev.href %> ">Fyrri síða</a>
      <% } %>
    </p>
    <p class="paging__subtitle">Síða <%= result.offset/50 + 1 %> af <%= Math.ceil(signaturesCount/50) %> </p>
    <p class="paging__next">
      <% if (result.links.next) { %>
        <a href="<%= result.links.next.href %> ">Næsta síða</a>
      <% } %>
    </p>
  </div>
</section>
